<%
  var title = 'top';
%>

<%- include(`../../layout/_head`, { title }) -%>
  <nav class="m-nav"><img src='../../images/logo.png' /></nav>
  <main><%= 'Generated with webpack!' %></main>
<%- include(`../../layout/_footer`) -%>
